.rootClasses {
  color: var(--default-color);
}

.localClasses {
  --default-color: blue;
  color: var(--default-color);
}

.cascadeClasses {
  --local-font-size: 9px;
  
  /* 18px */
  font-size: calc(var(--local-font-size) + var(--default-font-size)); 

  /* Just kidding 36px */
  --local-font-size: 18px;
}

.jsClasses {
  color: var(--js-color);
}

.caClasses {
  color: var(--content-aware-color, var(--default-color));
}

.contentAwareness {
  --content-aware-color: purple;
}